.card {
    width: 80vw;
    height: 75px;
    border: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:hover {
    background-color: white;
}

.card-body {
    align-items: center;
    width: 80vw;   
}

.task-mark .done {
    color: black;
}

.task-mark .not-done {
    color: white;
}

.task-date,
.task-name {
    display: contents;
    font-size: .8em;
}


.task-item {
    background-color: white;
    color: black;
    border: none;
}

.task {
    height: 100%;
}

.date-picker {
    margin-left: 10px;
    max-width: 75px;
}

.task-add-title {
    max-width: 60vw;
}

.task-heading {
    text-align: left;
}